.tabs {
    .tab-header-wrap {
        display: flex;

        @media (max-width: $mobile-max) {
            display: none;
            flex-direction: column;
            transition: all 1.5s ease-out;

        }
    }

    .tab-header-text {
        cursor: pointer;
        width: 40%;
        border: 1px solid gray;

        @media (min-width: $mobile-max) {
            display: none;

        }
    }

    .tab-header {
        padding: 8px 20px;
        font-weight: bold;
        transition: color .2s linear;

        @media (max-width: $mobile-max) {
            padding: 8px 8px;
            border: 1px solid gray;

        }

        &.active {
            box-shadow: 0 1px 0 #fff, 0 0 0 1px $c-border;
        }

        &:not(.active) {
            cursor: pointer;

            &:hover {
                color: $c-highlight;
            }
        }
    }

    .tab-content-wrap {
        border: 1px solid $c-border;

    }

    .tab-content {
        padding: 30px 20px;

        &:not(.active) {
            display: none;
        }
    }


}