body {
    min-height: 100vh;
    font-family: $font-main;
    font-size: 16px;
    line-height: 1.5;
    color: $c-text-main;
    display: flex;
    flex-direction: column;
}

a {
    color: $c-link-main;
    transition: color .2s linear;

    &:hover {
        color: $c-link-hover;
    }
}

.wrap {
    background-color: #fff;
    padding: 0 calc((100% - 300px) / 2);

    @media (min-width: $tablet-min) {
        padding: 0 calc((100% - 720px) / 2);
    }

    @media (min-width: $desktop-min) {
        padding: 0 calc((100% - 1200px) / 2);
    }
}

.header {
    transition: all 1.5s ease-out;
    width: 100%;
    height: 110px;
    min-height: 70px;
    max-height: 100px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: inset 0 -1px 0 $c-border;
    z-index: 5;

    @media (max-width: $mobile-max) {
        // flex-wrap: wrap;
    }

    &-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        @media (min-width: $tablet-min) {
            margin-right: 40px;
            width: 200px;
        }

        @media (min-width: $desktop-min) {
            width: 300px;
        }

        svg {
            display: block;
            box-sizing: border-box;
            margin: 0 auto;
            width: 150px;
            height: 120px;
            fill: $c-highlight;

            @media (max-width: $mobile-max) {
                width: 50px;
                height: 40px;
            }
            @media(min-width: $tablet-min) {
                width: 80px;
                height: 70px;
            }
        }
    }

    &-nav {
        align-self: center;
        flex-grow: 1;

        @media (max-width: $mobile-max) {
            margin-top: 20px;
            width: 100%;
        }
    }

    &-menu {
        display: flex;

        @media (max-width: $mobile-max) {
            display: none;
            align-self: flex-end;
            flex-direction: column;
            background-color:aliceblue;

        }

        &-item {
            flex: 1 0 0;

            @media (max-width: $mobile-max) {
                font-size: 13px;
                text-align: end;
            }

            &:not(:first-child) {
                box-shadow: inset 1px 0 0 $c-border;
            }
        }
    }
}
.nav-bar {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.content-text {
    display: none;
    @media (max-width: $mobile-max) {
        background-color: antiquewhite;
        cursor: pointer;
        border: 1px solid gray;
        align-self: flex-end;
        display: block;
    }
}

.main {
    display: flex;
    flex-grow: 1;

    &-sidebar {
        @media (min-width: $tablet-min) {
            flex-shrink: 0;
            margin-right: 40px;
            padding: 20px;
            border-left: 1px solid $c-border;
            border-right: 1px solid $c-border;
        }

        @media (max-width: $tablet-max) {
            width: 200px;
        }

        @media (min-width: $desktop-min) {
            width: 300px;
        }

    }

    &-content {
        order: 1;
        flex-grow: 1;
        padding: 20px 0;
    }
}


.footer {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    border-top: 1px solid $c-border;

    &-copyright {
        margin-left: 20px;
    }
}

h1 {
    margin-bottom: 32px;
}

p {
    margin-bottom: 16px;
}

ul:not([class]) {
    li {
        margin-top: 1em;
    }
}

code {
    display: inline-block;
    vertical-align: baseline;
    padding: 0 .25em;
    background-color: $c-bg-gray;
    border-radius: .125em;
}

.image-contain-1 {
    border: 2px solid gray;
    position: relative;
    height:200px;
    width: 200px;
    overflow:hidden;
}
.image-1 {
    position: relative;
}
.image-contain-2 {
    border: 2px solid gray;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: auto;
}
.image-2 {
    position: relative;
    z-index: 2;
}